<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60"
            class="mat-elevation-z24">

            <mat-card class="p-0 box register">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
                        <mat-icon>update</mat-icon>
                    </button>
                    <!--a mat-button routerLink="/login">Already have an account? Sign in!</a -->
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center"
                        class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header">Recuperar Contraseña</span>

                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email es requerido</mat-error>
                            <!--mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Email Inválido</mat-error-->
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email Repetir" formControlName="confirmEmail">
                            <mat-error *ngIf="form.controls.confirmEmail.errors?.required">
                                Email es requerido
                            </mat-error>
                            <!--mat-error *ngIf="form.controls.confirmEmail.hasError('invalidEmail')">
                                Email Inválido
                            </mat-error-->
                            <mat-error *ngIf="form.controls.confirmEmail.hasError('mismatchedEmail')">
                                Contraseñas no coinciden
                            </mat-error>

                        </mat-form-field>


                    </mat-card>

                    <a mat-button routerLink="/login">
                        <mat-icon>arrow_back</mat-icon>
                        Atrás
                    </a>

                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
                        Recuperar
                    </button>

                </mat-card-content>
            </mat-card>

        </form>

    </div>

</mat-sidenav-container>