<div class="p-2">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Mi Comunidad</mat-card-title>
        </mat-card-header>
        <mat-card-content class="pt-3">
            <mat-accordion class="example-headers-align">

                <div *ngFor="let e of items; let i = index">
                    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-icon>account_circle</mat-icon>
                            <mat-panel-description fxLayoutAlign="space-between center">
                                <mat-panel-title>{{e.nombres}} {{e.apellidos}}</mat-panel-title>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-card-content class="py-3">
                            <button mat-flat-button color="primary" class="m-1" (click)="llamar()">{{e.celular}}</button>
                            <br />
                            <br />
                            <p>
                                {{e.descripcion}}
                            </p>
                        </mat-card-content>


                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Siguiente</button>
                            <button mat-button color="primary" (click)="nextStep()">Atrás</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>

            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>