.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
   // height: 100vh;
}

.chip-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* Dos columnas responsivas */
    grid-gap: 10px;
    /* Espaciado entre chips */
}

.chip {
    background-color: lightgray;
    padding: 10px;
    cursor: pointer;
}

.chip.mat-chip-selected {
    background-color: #2cc30a;
    /* Cambia el color de fondo seleccionado */
    color: white;
}