<mat-grid-list cols="3" rowHeight="2:1">

    <mat-grid-tile>1</mat-grid-tile>
    
    <mat-grid-tile>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="100">
            <div class="custom-button" [ngClass]="{'botonRoboPresionado': dispositivo.presionado === 'robo'}"
                (touchstart)="presionar('robo')" (touchend)="soltar('robo')">
                <img [src]="roboiconoactual" alt="Botón Robo" />
            </div>
          </div>
        </div>
      </mat-grid-tile>

    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
    <mat-grid-tile>9</mat-grid-tile>

</mat-grid-list>