<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60"
            class="mat-elevation-z24">

            <mat-card class="p-0 box register">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
                        <mat-icon>update</mat-icon>
                    </button>
                    <!--a mat-button routerLink="/login">Already have an account? Sign in!</a -->
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center"
                        class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header">Actualizar Contraseña</span>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Contraseña Anterior" formControlName="oldPassword">
                            <mat-error *ngIf="form.controls.oldPassword.errors?.required">
                                Contraseña anterior es requerida
                            </mat-error>
                            <mat-error *ngIf="form.controls.oldPassword.hasError('minlength')">Minimo 6 caracteres</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Nueva Contraseña" formControlName="password" type="password"
                                minlength="6">
                            <mat-error *ngIf="form.controls.password.errors?.required">
                                Contraseña nueva es requerida
                            </mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">
                                Minimo 6 caracteres
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Confirmar Nueva Contraseña" formControlName="confirmPassword"
                                type="password">
                            <mat-error *ngIf="form.controls.confirmPassword.errors?.required">
                                Contraseña nueva es requerida
                            </mat-error>
                            <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">
                                Contraseñas no coinciden
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
                        Actualizar
                    </button>
                </mat-card-content>
            </mat-card>

        </form>

    </div>

</mat-sidenav-container>